.results {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.results li {
  padding: 10px;
}

input[type="search"] {
  width: calc(100% - 20px);
  -webkit-appearance: textfield;
  font-size: 16px;
  line-height: 1;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  transition: all 0.3s;
}

input[type="search"]:focus {
  border: 1px solid #9a9a9a;
  outline: 0;
}
